<h1 class="mt-4">Dashboard</h1>
<br>
<p class="lead mb-3">User: <strong><%= dataUser.uname.charAt(0).toUpperCase() + dataUser.uname.slice(1) %></strong>!</p>

<hr>
<div style="display: flex; align-items: center;">
    <div>
        <a href="/dashboard" class="btn btn-secondary">Home Dashboard</a>
    </div>

    <div style="margin-left: auto;">
        <a href="/auth/logout" class="btn btn-secondary">Logout</a>
    </div>
</div>
<hr>

<h2 class="mt-4">All My Posts:</h2>
<% allPosts.forEach(post => { %>
    <% for( let index = 0; index < postMatchCreator.length; index++ ) { %>
        <% if(post.id == postMatchCreator[index].postId) { %>
            <div style="border: solid 2px lightgray; border-radius: 5px; padding: 15px; margin: 20px 0px 0px 0px; max-width: 600px;">
                <p>Title: <strong><%= post.title.charAt(0).toUpperCase() + post.title.slice(1) %></strong></p>
                <p>Description: <%= post.description %></p>
                <p>Link: <i><a href="<%= post.link %>" target="_blank"><%= post.title.charAt(0).toUpperCase() + post.title.slice(1) %></a></i></p>
                <p>Subgroup: <%= post.subgroup.charAt(0).toUpperCase() + post.subgroup.slice(1) %></p>
                <p>Creator: <%= postMatchCreator[index].creatorName.charAt(0).toUpperCase() + postMatchCreator[index].creatorName.slice(1) %></p>
                <a href="show/<%= post.id %>" class="btn btn-secondary">Show more about this post...</a>
            </div>
        <% } %>
    <% } %>
<% }) %>
